<?xml version='1.0' encoding='utf-8'?>
<widget id="com.kominka-kanagawa.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kominka-Kanagawa</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="olive.backed.pipit@gmail.com" href="http://cordova.io">
        OLIVE BACKED PIPIT
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
